.firstHeader{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #bdaaa8;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}